html,
body {
    width: 100vw;
    height: 100vh;
    position: relative;
    margin: 0;
    background-size: 100% 100%;
    overflow:  hidden;
}

#title_game {
    height: 20vh;
    width: 100%;
    color: beige;
    padding-top: 30vh;
    font-size: 100px;
    text-align: center;
}

#buttons_start_game {
    height: 40vh;
    width: 100%;
    color: beige;
    padding-top: 10vh;
    display: flex;
    justify-content: space-evenly;
}

.buttons_main {
    width: 150px;
    height: 60px;
    font-size: 20px;
    font-weight: bolder;
    border: 2px solid beige;
    border-radius: 20%;
    background-color: #FFFFFF00;
    color: beige;
}

.mainMenuBody {
    background-image: url(./imgs/start.jpg);
}

.lvl1Body {
    background-image: url(/imgs/first_round.jpg);
}

.potion {
    background: url(/imgs/elixir.png);
}

.enemy {
    background: url(/imgs/drago.png);
}

